* {
    box-sizing: border-box;
}



input {
    width: 250px;
    height: 25px;
    border: 1px solid cornflowerblue;
    text-align: center;
    margin: 3px auto 15px;
    font-size: 13px;
}

label {
    margin: 0 auto;
    font-size: 13px;
}

.btn {
    width: 110px;
    margin: 15px auto;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    text-align: center;
    margin-top: 50px;

}

.results {   
    display: flex; 
    text-align: center;  
    justify-content: center;
    flex-direction: column;  
}

.invalid {
    border: 2px solid red;
}